<html>
    <head>
        {% if title %}
        <title>{{ title }} - Web</title>
        {% else %}
        <title>Welcome to Web!</title>
        {% endif %}
    </head>
    <body>
        <div>
                <a href="{{ url_for('index') }}"><span style="color: white; text-shadow: 2px 2px 5px red;">Home</span></a>
                <a href="{{ url_for('login') }}"><span style="color: white; text-shadow: 2px 2px 5px red;">Login</span></a>

            </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>