<html>
 <head>
  <div>
    <a href="{{ url_for('index') }}">Home</a>
  </div>
   <title>{{ title }}</title>
   <form class="d-flex" method="GET">
     <input class="form-control me-2" type="search" placeholder="Найти коктейль" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
     <button class="btn btn-outline-success" type="submit">Искать</button>
 </form>
 </head>  
 <body>
  <style>
    body {
      background-image: linear-gradient(to right, beige, yellow, red, black)  
  }
  </style>   
  <h1>Коктейли</h1>
  <a href="{{ url_for('new_cocktail') }}">
    <button>Добавить коктейль</button>  
  </a>
  <ol>  
   {% for cocktail in cocktails %}  
    <li> {{cocktail.name}} - {{cocktail.description}} - {{cocktail.country}} - {{cocktail.region}}</li>
    <p>{{ cocktail.recipe }}</p>
    <a href="{{ url_for('edit_cocktail', cocktail_id = cocktail.id ) }}">  
      Изменить  
    </a>  
    <a href="{{ url_for('delete_cocktail', cocktail_id = cocktail.id ) }}" style="margin-left: 10px;">  
      Удалить  
    </a>  
    <br> <br>  
  {% endfor %}  
 </ol>  
 </body>  
 </html> 
