{% extends "base.html" %}

{% block content %}
  <head>
    <style>
      body {
        background-image: linear-gradient(to right, rgb(55, 69, 48), green, red, rgb(218, 163, 163))  
    }
    </style>
    <title>Удаление коктейля</title>
  </head>
  <body>
    <h2>Вы уверены, что хотите удалить {{cocktail.name}}?</h2>
    <p></p>  
    <form action="#" method='post'>  
      <button type="submit">Удалить</button>  
    </form>
    <p></p>
    <a href='{{url_for("cocktail")}}'>  
      <button>Отменить</button>  
    </a>
  </body>
{% endblock %}
