{% extends "base.html" %}

{% block content %}
<head>
  <style>
    body {
      background-image: linear-gradient(to right, rgb(55, 69, 48), green, red, rgb(218, 163, 163))  
  }
  </style>
  </head> 
<div class="row">
  <div class="col-4">
<form action="{{ url_for('edit_origin', origin_id = origin.id) }}" method="post">  
    <div class="form-group">
      
      <label for="name">Страна:</label>  
      <input class="form-control" name="country" value="{{ origin.country }}">
  
      <label for="description">Регион:</label> 
      <input class="form-control" name="region" value="{{ origin.region }}">
      <p></p>
      <button type="submit">Обновить</button>
    </div>
  </form>
  <a href="{{ url_for('origin') }}">  
    <button>Отменить</button>  
  </a>
  {% endblock %}  