{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <head>
        <style>
          body {
            background-image: linear-gradient(to right, rgb(55, 69, 48), green, red, rgb(218, 163, 163))  
        }
        </style>
        </head> 
    <h1>Войти</h1>
    <div class="container">
    <div class="row">
    <div class="col-4">
    <form action="{{ url_for('process_login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}<br>
            {{ form.username() }}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password() }}
        </div>
        <div class="form-group form-check">
            {{ form.remember_me() }}
            {{ form.remember_me.label(class_='form-check-label') }}
        </div>
        {{ form.submit() }}
    </form>
    <div class="col-8">
    </div>
{% endblock %}