<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Карта коктейлей</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Главная страница</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('cocktail') }}">Коктейли</a>
            </li>
          </ul>
        <form class="d-flex" method="GET">
          <input class="form-control me-2" type="search" placeholder="Найти коктейль" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
          <button class="btn btn-outline-success" type="submit">Искать</button>
      </form>
      <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
              <li class="nav-item"></li>
                  <span class="nav-link">Привет, {{ current_user.username }}!</span>
              </li>
              {% if current_user.is_admin %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_index') }}">Админка</a>
            </li>
              {% endif %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Войти</a>
            </li>
          {% endif %}
      </ul>
    </div>
  </nav>