{% extends "base.html" %}

{% block content %}
  <head>
    <title>Добавление коктейля</title>
  </head>
  <body>
    <h1>Добавить</h1>
    <form action="#" method="post">
      <div class="form-group">
        <label for="name">Название:</label>
        <input type="text" maxlength="100" name="name" placeholder="Название коктейля">

        <label for="description">Описание:</label>
        <input maxlength="500" name="description" placeholder="Описание">

        <label for="origin">Страна:</label>
        <input maxlength="100" name="country" placeholder="Страна">

    <label for="origin">Регион:</label>
    <input maxlength="100" name="region" placeholder="Регион">

        <label for="recipe">Рецепт:</label>
        <input type="text" maxlength="500" name="recipe" placeholder="Рецепт коктейля">

        <button type="submit">Добавить</button>
      </div>
    </form>
  </body>

{% endblock %}