<h1>Добавить</h1>
<form action="#" method="post">
  <div class="form-group">
    <label for="name">Название:</label>
    <input type="text" maxlength="100" name="name" placeholder="Название коктейля">

    <label for="description">Описание:</label>
    <input maxlength="500" name="description" placeholder="Описание">

    <label for="origin">Источник:</label>
    <input maxlength="100" name="origin" placeholder="Источник">

    <label for="recipe">Рецепт:</label>
    <input type="text" maxlength="500" name="recipe" placeholder="Рецепт коктейля">

    <button type="submit">Добавить</button>  
   </div>
</form>