{% extends "base.html" %}

{% block content %}
<head>
  <style>
    body {
      background-image: linear-gradient(to right, rgb(55, 69, 48), green, red, rgb(218, 163, 163))  
  }
  </style>
  </head> 
<h1>Добавить</h1>
<form action="#" method="post">
  <div class="form-group">
    <label for="name">Страна:</label>
    <input type="text" maxlength="100" name="country" placeholder="Страна">

    <label for="description">Регион:</label>
    <input maxlength="500" name="region" placeholder="Регион">

    <button type="submit">Добавить</button>  
   </div>
</form>
{% endblock %}