{% extends "base.html" %}

 {% block content %}
<html>
 <head>
   <title>{{ title }}</title>
   <p></p>
   <form class="d-flex" method="GET">
     <input class="form-control me-2" type="search" placeholder="Найти родину коктейля" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
     <button class="btn btn-outline-success" type="submit"><span style="color: black;">Искать</span></button>
      <div class="col-8">
   </div>
 </form>
 </head>
 <p></p>  
 <body>
  <style>
    body {
      background-image: linear-gradient(to right, rgb(55, 69, 48), green, red, rgb(218, 163, 163))  
  }
  </style>  
  <h1>Страны и регионы</h1>
  <p></p>
  <a href="{{ url_for('new_origin') }}">
    <button>Добавить страну происхождения</button> 
    <p></p> 
  </a>
  <ol>  
   {% for origin in origins %}  
    <li> {{origin.country}} - {{origin.region}}</li>
    <a href="{{ url_for('edit_origin', origin_id = origin.id ) }}">  
      <span style="color: black;">Изменить</span>  
    </a>  
    <a href="{{ url_for('delete_origin', origin_id = origin.id ) }}" style="margin-left: 10px;">  
      <span style="color: black;">Удалить</span>  
    </a>  
    <br> <br>  
  {% endfor %}  
 </ol>  
 </body>  
 </html>
 {% endblock %}